@charset "utf-8";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Inter:ital,wght@100,300,600,800;1,300&display=swap");

// Set your brand colors
$blue: #1278f8;
$black: #000000;
$grey-dark: #666482;
$grey-light: #b7b6c6;
$grey-lighter: #e6e6eb;
$family-sans-serif: "Inter", sans-serif;

$primary: $blue;
$link: $blue;
$widescreen-enabled: true;
$fullhd-enabled: true;

//navbar
$navbar-height: 5.5rem;
$navbar-background-color: rgba(0, 0, 0, 0.5);
$navbar-item-img-max-height: 2.5rem;

$size-1: 4.75rem;
$size-2: 4rem;
$title-weight: bolder;
$title-color: $black;
// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";
//classes
@import "../node_modules/@creativebulma/bulma-collapsible/src/sass/index.sass";

nav {
  backdrop-filter: saturate(180%) blur(5px);
  padding-left: 5.5rem;
  padding-right: 5.5rem;
  box-shadow: inset 0 -1px 0 0 hsla(0, 0%, 100%, 0.1);
}

.level-right > .level-item > i {
  padding: 8px;
  margin-left: 1rem;
}

#accordion_1 > .level {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#accordion_1 i {
  transition: transform 0.15s ease-in-out;
}

#accordion_1 > .is-active i {
  transform: rotate(90deg);
}

.divider {
  height: 1px;
  background-color: hsla(0, 0%, 100%, 0.1);
}

.squeezed {
  letter-spacing: -0.04em;
}

.floating {
  position: absolute;
  width: 40%;
  right: 0;
}

#glowCookies-banner > h3 {
  font-weight: bolder;
}

@media screen and (max-width: 800px) {
  .bg-1 {
    background: url("../assets/images/data-catalog-bg.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 30vh !important;
  }
  .bg-2 {
    background: url("../assets/images/bg1.svg");
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    min-height: 30vh !important;
  }
}
.bg-2 {
  background: url("../assets/images/bg1.svg");
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  min-height: 60vh;
}

.bg-1 {
  background: url("../assets/images/data-catalog-bg.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 70vh;
}

.is-usecase-logo {
  border-radius: 1rem;
  max-width: 7rem;
  background-color: $primary;
}

.content ul {
  list-style: none;
  margin: 0;
}

.gradient-text {
  background: linear-gradient(to right, #3288ff, #3dceee, #5837db, #3288ff);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.field.has-addons .control:first-child:not(:only-child) .button {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.field.has-addons .control:last-child:not(:only-child) .button {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}
a {
  border-radius: 14px !important;
}

.features {
  p {
    max-width: 17rem;
  }
  img {
    width: 3em;
  }
}
